body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    color:rgb(132, 135, 146);
    background-color: rgb(255, 255, 255);
}
p{
    margin-bottom: 1.6em;
}
/* estilo título página login*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    color:rgb(132, 135, 146);
    text-align:center;
    line-height: 1.3em;
}
/* estilo botones*/
.boton1 button{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(132, 135, 146);
    color:rgb(255, 255, 255);
    border-radius: 15px;
    border-style: solid;
    border-color: grey;
    font-size: 20px;
    width: 130px;
    height: 50px;
    float: center;
	margin-right:40px;
}
/* estilo formularios*/
.container1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    color:rgb(132, 135, 146);
    text-align: center;
}
/*ubicacion recuadros formularios*/
.uno{
    margin-left: 50px;
}
.tres{
    margin-left: 164px;
}
.cuatro{
    margin-left: 55px;
}
.cinco{
    margin-left: 149px;
}
.seis{
    margin-left: 132px;
}
.siete{
    margin-left: 36px;
}
.ocho{
    margin-left: 230px;
}
.nueve{
    margin-left: 143px;
}
/* estilo formularios de usuario*/
.usuario1{
    float: left;
}
.usuario2{
    float: right;
}
/* estilo texto página tienda genérica*/
.container{
    width: 85%;
    max-width: 850px;
	min-width: 850px;
    margin: 0 auto;
    font-size: 20px;
}

.container2{
    width: 85%;
    max-width: 850px;
	min-width: 850px;
    margin: 0 auto;
    font-size: 20px;
}
/* estilo cabecera página tienda genérica*/
.header{
    background: #A5A5A5;
    color: white;
    padding: 2rem 0;
    left: 0;
    top: 0;
    width: 100%; 
    postion:fixed;
	border-style: solid;
	border-color: #A5A5A5;
}
.header a{
    color: white;
    text-decoration: none;
}
/* estilo logo de cabecera página tienda genérica*/
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu-icon{
    display: none;
}

.navigation{
	color: #A5A5A5;
	height: 50px;
	left: 0;
    top: 95px;
    width: 100%;
	border-bottom-style: solid;
	border-color: #A5A5A5;
}
/* estilo botones navegacion cabezera página tienda genérica*/
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li{
        display: inline-block;
    }
		.navigation ul li.active a{
			color:grey;
		}
        .navigation ul li a{
            display: block;
            padding: 0.8rem 0.5rem;
            transition: all 0.3s linear;
            border-radius: 5%;
			text-decoration: none;
			color: rgb(132, 135, 146);
			
        }
            .navigation ul li a:hover{
                background: #CCC;
				color: black;
            }
				

.main{
    padding-top: 12rem;
}
.main2{
    padding-top: 6rem;
}
/* estilo pie de página tienda genérica*/
.footer{
    background: grey;
    color: white;
    padding: 1rem 0;
    text-align: center;
    margin-top: 6rem;
    width: 100%;
}
/* ajustes de estilo para diversos dispositivos*/
@media only screen and (max-width: 767px) {
	body{
		width: 100%;
	}
    .menu-icon{
    	color: white;
    	margin-top: 0;
    	text-align: right;
    	font-size:15pt;
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    
    .navigation{
    	color: white;
        width: 100%;
        margin-top: 0rem;
        border: none;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
        background: #A5A5A5;
        width: 100%;
    }
        .navigation ul li{
            display: block;
        }
            .navigation ul li a{
                display: block;
                padding: 0.5rem 0;
                transition: all 0.4s linear;
                border-radius: 5%;
            }
                .navigation ul li a:hover{
                    background: #CCC;
                }
    footer{
        width: 100%;
    }
}

@media  only screen and (max-width: 994px) {
    .usuario1{
        float: inherit;
        align-content: space-between;
        
    }
    .usuario2{
        float:initial;
        align-content: space-between;
    }
    .uno{
        margin-left: 0px;
    }
    .tres{
        margin-left: 0px;
    }
    .cuatro{
        margin-left: 0px;
    }
    .boton1 button{
        margin-top: 5px;
    }
}

